/*body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top center;
}

.container {
  position: fixed;
  margin: 0px auto;
  padding: 0 200px;
}

.nav {
  float: left;
  background-color: #444;
  width: 100%;
  margin: 0 auto;
  opacity: 0.8;
}

.nav li {
  float: right;
  margin: 0 5%;
  list-style: none;
  color: white;
}

#map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px
}

#my-photo {
  width: 90%;
  height: auto;
}

#my-photo img {

}*/

html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }