body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top center;
}

/*.container {
  position: fixed;
  margin: 0px auto;
  padding: 0 200px;
}*/

/*.nav {
  float: left;
  background-color: #444;
  width: 100%;
  margin: 0 auto;
  opacity: 0.8;
}

.nav li {
  float: right;
  margin: 0 5%;
  list-style: none;
  color: white;
}*/

.photo-map {
  display: inline-block;
  height: 100%;
  width: auto;
}

/*#map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px
}*/

#my-photo {
  display: inline-block;
  position: fixed;
  top: 25%;
  left: 5%;
  width: 30%;
}

#my-photo img {
  z-index: 999;
  width: 100%;
  height: auto;

}

html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }