<script src="/js/photo.js"></script>

<div id="map-canvas"></div>

<div id='my-photo'>
  <script id='latitude' type="text"><%= @photo.latitude %></script>
  <script id='longitude' type="text"><%= @photo.longitude %></script>
 <img src=<%= @photo.url %>>
</div>



